
/* -- color #3e3eb1; darkgreen color -- */

#navbar .nav .register a{
	color: #35a57a !important;
}
.btn, #categories-row .grid_list .fa, .slick-arrow, .listing-grid-overlay .currency-value, .ribbon span, .latest_ads .see_more_link a, .popular-cities ul li a, .popular-regions ul li a, span.active a.list-button, .active a.grid-button, .doublebutton a.list-button, .doublebutton .grid-button{
	background-color: #35a57a;
}
.hovereffect .listing-lists .fa-map-marker, .locate span .fa-map-marker, .list-view .listing-basicinfo .fa, .list-detail .listing-basicinfo .fa, #item-header .fa, ul.breadcrumb li a{
	color: #35a57a;
}
#search-sidebar .search-row .filters fieldset h3{
	background-color: #35a57a;
	border: 1px solid #35a57a;
}
#myBtn, #refine .category li a, .paginate a, .list-view .listing-basicinfo a, .list-detail .listing-basicinfo a, #refine .category li li a, #item-content #edit_item_view, .active a.grid-button:hover, .doublebutton a.list-button:hover, .carousel-caption a, #header_map article a{
	background-color: #35a57a;
}
.see_by label, #user-login .form-login .actions a{
	color: #35a57a;
}
.arrow-down{
	border-top: 5px solid #35a57a;
}




